tutorials/SoapClient_from_wsdl/SoapClient_from_wsdl/wsdl/unified_wsdls/public/published_on_PDN/limited_temp/VideoInputV1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="wsdl-viewer.xsl"?>

<wsdl:definitions name="VideoInput"
	targetNamespace="urn:schemas-pelco-com:service:VideoInput:1"
	xmlns:tns="urn:schemas-pelco-com:service:VideoInput:1"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

	<wsdl:documentation>
		$Id: VideoInputV1.wsdl 600 2011-06-10 22:38:52Z  $
	</wsdl:documentation>

	<!-- Types -->

	<wsdl:types>
		<xsd:schema targetNamespace="urn:schemas-pelco-com:service:VideoInput:1"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="unqualified"
			attributeFormDefault="unqualified">

			<xsd:complexType name="StreamParameters">
        <xsd:annotation>
          <xsd:documentation>
            Represents parameters needed for connecting to a video stream
          </xsd:documentation>
        </xsd:annotation>
				<xsd:sequence>
					<xsd:element name="preAlarmDurationInManualRecord" type="xsd:int" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                The amount of time , in seconds prior to the alarm time that the recording should begin
                <ul>
                  <li>30 (seconds) is common</li>
                  <li>Used when a manual recording is initiated</li>
                  <li>The feature is based on the premise that the recording device has cached some amount of video prior to the current time</li>
                </ul>
                <div class="notice">This identifier is a misnomer: its functionality has little to do with alarms themselves.</div>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
					<xsd:element name="streamSession" type="tns:StreamSession" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                The Session parameters for the Stream
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
					<xsd:element name="compatability" type="tns:Compatibility" minOccurs="0" maxOccurs="1" />
            <xsd:element name="videoQuality" type="tns:VideoQuality" minOccurs="0" maxOccurs="1">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">
                  The Video Quality parameters such as framerate,bitrate, etc
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          <xsd:element name="displayName" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                Friendly name of the session
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="StreamSession">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Represents data related to specific video stream session.Stream Session is part of Stream Parameters.
          </xsd:documentation>
        </xsd:annotation>
				<xsd:sequence>
					<xsd:element name="sourceURI" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                Represents URI of orginal source of video data.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
					<xsd:element name="outputURI" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                Represents the URI to which video data will be streamed.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
					<xsd:element name="controlURI" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                Represents the URI using which the stream could be controlled.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
					<xsd:element name="transportURL" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                The URL to which selected video data will be transmitted.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
					<xsd:element name="streamState" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                Represents current transmission state of the stream
                Possible states are
                <ul>
                  <li>Play</li>
                  <li>Pause</li>
                  <li>Reverse</li>
                  <li>Seek</li>
                </ul>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
					<xsd:element name="sessionId" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                Unique Idenitifier for the Session
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
					<xsd:element name="iFrameOnly" type="xsd:int" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                Represents whether to send IFrames only.
                Possible values are
                <ul>
                  <li> 1 - True, only IFrames would be transmitted</li>
                  <li> 0 - False, All frames would be transmitted</li>
                </ul>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
					<xsd:element name="secsPerIFrame" type="xsd:unsignedInt" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                This is the number of elapsed seconds between the I-frames sent by the device.  
                The client is responsible for determining the correct amount of time to display the frame.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
					<xsd:element name="startTime" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                Primarily used for playback and represents the start time of the interval being played back.
                <ul>
                  <li>The format of start time is dateTime.tz. ex 1988-04-07T18:39:09-08:00</li>
                  <li>UTC timezone</li>
                  <li>NOW is also valid start time</li>
                  <li> ex 2007-05-02T18:48:46.017</li>
                </ul>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
					<xsd:element name="endTime" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                Primarily used for playback and represents the end time of the interval being played back.
                <ul>
                  <li>The format of end time is dateTime.tz. ex 1988-04-07T18:39:09-08:00</li>
                  <li>UTC timezone</li>
                  <li>INFINITE is also valid end time, signifying no end time</li>
                  <li> ex 2007-05-02T18:48:46.017</li>
                </ul>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
					<xsd:element name="clients" type="xsd:unsignedInt" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                Represents the number of clients currently attached to this session
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
					<xsd:element name="refreshInterval" type="xsd:unsignedInt" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>
                The interval in seconds to be used in the RefreshSession action in the StreamControl service indicated by controlURI.
                If the camera does not receive any calls to the RefreshSession action within the specified interval, the video stream session identified by sessionId will be disconnected.
                Valid values range from 30 - 900 seconds (15 minutes)
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
				</xsd:sequence>
			</xsd:complexType>

      <xsd:simpleType name="RESOLUTIONS">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            A list of valid image size values. (This is a misnomer)
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="SIF">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                Source Input Format NTSC (320x240)
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="QSIF">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                320x240
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="2SIF">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                NTSC (704x240) PAL (704x288)
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="4SIF">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                NTSC (704x480)
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="D1">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                NTSC(720x480)
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="CIF">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                Common Intermediate Format NTSC(352x240) PAL(352x288)
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="QCIF">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                NTSC(176x112) PAL(176x144)
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="2CIF">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                NTSC(704x240) PAL(704x288)
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="4CIF">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                NTSC(704x480) PAL(704x576)
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="PALD1">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:complexType name="Resolution">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The number of pixels per square inch
            <div class="notice">
              Our devices are NTSC centric.
              To cater to PAL settings, simply convert the PAL value to an NTSC value: multiply the PAL value by 30/25.
            </div>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
          <xsd:extension base="tns:RESOLUTIONS">
            <xsd:attribute name="width" type="xsd:unsignedInt">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">
                  The width(x value)
                </xsd:documentation>
              </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="height" type="xsd:unsignedInt">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">
                  The heigth(y value)
                </xsd:documentation>
              </xsd:annotation>
            </xsd:attribute>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>

			<xsd:complexType name="Compatibility">
				<xsd:sequence>
					<xsd:element name="resolution" type="tns:Resolution"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="VideoQuality">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The current transmission state of the stream.</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="framerate" type="xsd:double" ><xsd:annotation>
						<xsd:documentation xml:lang="en">Framerate of the stream, in fps. ex 30 for NTSC, 25 for PAL</xsd:documentation></xsd:annotation>
					</xsd:element>
					<xsd:element name="bitrate" type="xsd:int"><xsd:annotation>
						<xsd:documentation xml:lang="en">Bitrate of the stream, in bps.</xsd:documentation></xsd:annotation></xsd:element>
					<xsd:element name="format" type="xsd:string" minOccurs="0"  ><xsd:annotation>
						<xsd:documentation xml:lang="en">Format of the stream.</xsd:documentation></xsd:annotation></xsd:element>
					<xsd:element name="videosize" type="xsd:unsignedInt" ><xsd:annotation><xsd:documentation xml:lang="en">Resolution of the stream.</xsd:documentation></xsd:annotation></xsd:element>
					<xsd:element name="tvformat" type="xsd:unsignedInt" ><xsd:annotation><xsd:documentation xml:lang="en">TV Format of the stream.</xsd:documentation></xsd:annotation></xsd:element>
					<xsd:element name="gop" type="xsd:decimal"><xsd:annotation><xsd:documentation xml:lang="en">The number of frames in one GOP (Group of Pictures).</xsd:documentation></xsd:annotation></xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="SessionList">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Represents a list of Session
          </xsd:documentation>
        </xsd:annotation>
				<xsd:sequence>
          <xsd:element name="session" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                List of Session
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
				</xsd:sequence>
			</xsd:complexType>     

			<xsd:element name="Connect">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Represents a request to the Connect action
          </xsd:documentation>
        </xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="streamParameters" type="tns:StreamParameters">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">
                  The stream parameters used for connecting
                  <div class="notice">
                    Only the following data needs to be set with the Connect request (for the streamParameters parameter):
                    <ul>
                      <li>transportUrl - The URL to which the selected video data will be transmitted.By default, video streams are multicast unless this value is filled.</li>
                      <li>The device port is optional; the server response will include this if it is not specified in the request.</li>
                      <li>
                        refreshInterval - The interval in seconds to be used in the RefreshSession action in the urn:schemas-pelcocom: StreamControl service indicated by controlURI.
                        If the camera does not receive any calls to the RefreshSession action within the specified interval, the video stream session identified by sessionId will be disconnected.
                        Units are in seconds. The minimum value is 30 and the maximum value is 900.
                      </li>
                    </ul>
                  </div>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="ConnectResponse">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Represents a response from the Connect action
          </xsd:documentation>
        </xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="streamParameters" type="tns:StreamParameters">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">
                  The returned streamParameters will include:
                  <ul>
                    <li>The URI of the urn:schemas-pelco-com:service:StreamControl service that should be used to control the session</li>
                    <li>The sessionId to be used when addressing the urn:schemas-pelco-com:service:StreamControl service</li>
                    <li>The URL to which the video data will be streamed</li>
                    <li>The transport state of the stream</li>
                    <li>The number of clients currently attached to this session</li>
                  </ul>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="Disconnect">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Represents a request to the Disconnect action
          </xsd:documentation>
        </xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="sessionId" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">
                  Id of the session to disconnect from
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="DisconnectResponse">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Represents a response from the Disconnect action
          </xsd:documentation>
        </xsd:annotation>
				<xsd:complexType/>
			</xsd:element>
			
			<xsd:element name="GetActiveSessions">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Represents a request to get all the current active sessions
          </xsd:documentation>
        </xsd:annotation>
				<xsd:complexType/>
			</xsd:element>
			
			<xsd:element name="GetActiveSessionsResponse">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Represents a response from the GetActiveSessions request
          </xsd:documentation>
        </xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="activeSessions" type="xsd:int">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">
                  The number of currently active sessions
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="maxSessions" type="xsd:int">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">
                  The maximum number of live sessions supported
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="GetActiveSessionIds">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Represents a request to get the Ids of active sessions
          </xsd:documentation>
        </xsd:annotation>
				<xsd:complexType/>
			</xsd:element>
			
			<xsd:element name="GetActiveSessionIdsResponse">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Represents a response from GetActiveSessionIds request
          </xsd:documentation>
        </xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="sessionIds" type="tns:SessionList">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">
                  List of active session Ids
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

            <xsd:element name="GetSessionParameters">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        Represents a request to get Session parameters for a given Session Id
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="sessionId" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">
                                    Id of Session to get parameters for
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="GetSessionParametersResponse">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        Represents a response to GetSessionParameters request
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="streamParameters" type="tns:StreamParameters">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">
                                    The retrieved Stream Parameters for the given Session Id
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

		</xsd:schema>    
	</wsdl:types>

	<!-- Messages -->

	<wsdl:message name="Connect">
		<wsdl:part name="parameters" element="tns:Connect"/>
	</wsdl:message>
	<wsdl:message name="ConnectResponse">
		<wsdl:part name="parameters" element="tns:ConnectResponse"/>
	</wsdl:message>
	<wsdl:message name="Disconnect">
		<wsdl:part name="parameters" element="tns:Disconnect"/>
	</wsdl:message>
	<wsdl:message name="DisconnectResponse">
		<wsdl:part name="parameters" element="tns:DisconnectResponse"/>
	</wsdl:message>
	<wsdl:message name="GetActiveSessions">
		<wsdl:part name="parameters" element="tns:GetActiveSessions"/>
	</wsdl:message>
	<wsdl:message name="GetActiveSessionsResponse">
		<wsdl:part name="parameters" element="tns:GetActiveSessionsResponse"/>
	</wsdl:message>
	<wsdl:message name="GetActiveSessionIds">
		<wsdl:part name="parameters" element="tns:GetActiveSessionIds"/>
	</wsdl:message>
	<wsdl:message name="GetActiveSessionIdsResponse">
		<wsdl:part name="parameters" element="tns:GetActiveSessionIdsResponse"/>
	</wsdl:message>
    <wsdl:message name="GetSessionParameters">
        <wsdl:part name="parameters" element="tns:GetSessionParameters"/>
    </wsdl:message>
    <wsdl:message name="GetSessionParametersResponse">
        <wsdl:part name="parameters" element="tns:GetSessionParametersResponse"/>
    </wsdl:message>
    
	<wsdl:portType name="VideoInputPortType">
    
		<wsdl:operation name="Connect">
			<wsdl:documentation>Initiates a streaming session with the VideoOuput service indicated by outputURI containing the video data indicated by streamParameters. </wsdl:documentation>
			<wsdl:input message="tns:Connect"/>
			<wsdl:output message="tns:ConnectResponse"/>
		</wsdl:operation>
    
		<wsdl:operation name="Disconnect">
			<wsdl:documentation>Terminates the streaming session indicated by sessionId.</wsdl:documentation>
			<wsdl:input message="tns:Disconnect"/>
			<wsdl:output message="tns:DisconnectResponse"/>
		</wsdl:operation>
    
		<wsdl:operation name="GetActiveSessions">
			<wsdl:documentation>Returns the number of active sessions currently managed by the service instance as well as the maximum number of simultaneous sessions supported by the service instance.</wsdl:documentation>
			<wsdl:input message="tns:GetActiveSessions"/>
			<wsdl:output message="tns:GetActiveSessionsResponse"/>
		</wsdl:operation>
    
		<wsdl:operation name="GetActiveSessionIds">
			<wsdl:documentation>Returns a list of sessionIds for currently active sessions associated with the service instance.</wsdl:documentation>
			<wsdl:input message="tns:GetActiveSessionIds"/>
			<wsdl:output message="tns:GetActiveSessionIdsResponse"/>
		</wsdl:operation>
        
        <wsdl:operation name="GetSessionParameters">
            <wsdl:documentation>Returns the parameters associated with the session indicated by sessionId.</wsdl:documentation>
            <wsdl:input message="tns:GetSessionParameters"/>
            <wsdl:output message="tns:GetSessionParametersResponse"/>
        </wsdl:operation>
        
	</wsdl:portType>

	<wsdl:binding name="VideoInput" type="tns:VideoInputPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    
		<wsdl:operation name="Connect">
			<soap:operation soapAction="urn:schemas-pelco-com:service:VideoInput:1#Connect"/>
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
    
		<wsdl:operation name="Disconnect">
			<soap:operation soapAction="urn:schemas-pelco-com:service:VideoInput:1#Disconnect"/>
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
    
		<wsdl:operation name="GetActiveSessions">
			<soap:operation soapAction="urn:schemas-pelco-com:service:VideoInput:1#GetActiveSessions"/>
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
    
		<wsdl:operation name="GetActiveSessionIds">
			<soap:operation soapAction="urn:schemas-pelco-com:service:VideoInput:1#GetActiveSessionIds"/>
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
        <wsdl:operation name="GetSessionParameters">
            <soap:operation soapAction="urn:schemas-pelco-com:service:VideoInput:1#GetSessionParameters"/>
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    
	</wsdl:binding>

	<wsdl:service name="VideoInput">
		<wsdl:documentation>
      This services allows clients to query existing active sessions. 
      Other uses for this service include initiating a stream, terminating an existing stream and refreshing sessions</wsdl:documentation>
		<wsdl:port name="VideoInput" binding="tns:VideoInput">
			<soap:address location="http://localhost:49152/control/VideoInput-1"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
